Que1. What is a database? Differentiate between SQL and NoSQL databases.

In [ ]:
'''A database is a structured collection of data that is organized and stored in a way that allows for efficient retrieval, 
management, and manipulation of information. It is designed to store and manage large volumes of data, making it easier to 
access and analyze.

SQL (Structured Query Language) and NoSQL (Not only SQL) are two different types of database management systems that use
different approaches to store and retrieve data.

SQL Databases:

Structure: SQL databases are based on a structured data model, known as the relational model. Data is organized into tables 
with predefined schemas, consisting of rows (records) and columns (fields).
Schema and Flexibility: SQL databases have a fixed schema, meaning that the structure and types of data must be defined in 
advance.Adding or modifying the schema can be more challenging.
Data Integrity: SQL databases enforce data integrity constraints, such as enforcing relationships between tables and ensuring 
data consistency through features like primary keys and foreign keys.
Queries: SQL databases use SQL as the standard language for querying and manipulating data. SQL offers a powerful set of 
declarative commands for retrieving and manipulating data.
Scalability: SQL databases are generally vertically scalable, meaning they can handle increased load by increasing the 
hardware resources of a single server. They excel in handling structured and complex relationships between data.

NoSQL Databases:

Structure: NoSQL databases use a variety of data models, such as key-value, document, columnar, and graph. These models are
more flexible and allow for storing unstructured or semi-structured data.
Schema and Flexibility: NoSQL databases have a flexible schema, allowing for dynamic and schema-less data storage. Data can 
be added without predefined structure, making it easier to adapt to changing requirements.
Data Integrity: NoSQL databases often prioritize scalability and performance over enforcing strict data integrity constraints.
However, some NoSQL databases provide mechanisms for eventual consistency or limited constraints.
Queries: NoSQL databases use different query languages depending on the database type. Some NoSQL databases support SQL-like
querying, while others use proprietary query languages specific to their data model.
Scalability: NoSQL databases are designed for horizontal scalability, meaning they can handle increased load by distributing 
the data across multiple servers or nodes. They excel in handling large-scale data and high traffic volumes.

Que.2 What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

In [ ]:
'''DDL(Data Definition Language)  is a subset of SQL (Structured Query Language) used to define and manage the structure of 
a database and its objects. DDL statements are used to create, modify, and delete database objects such as tables, views, 
indexes, and constraints.
CREATE: The CREATE statement is used to create new database objects, such as tables, views, indexes, or constraints. It 
specifies the object's name, structure, and any additional properties. For example:'''

In [ ]:
#Creates a table named "employees" with columns for ID, name, age, and department.
CREATE TABLE employees (id INT PRIMARY KEY,name VARCHAR(100),age INT,department VARCHAR(100));

In [ ]:
'''DROP: The DROP statement is used to delete existing database objects, such as tables, views, indexes, or constraints. It
permanently removes the specified object and its associated data. For example:'''

In [ ]:
# drops the "employees" table, deleting all the data and the table itself.
DROP TABLE employees;

In [ ]:
'''ALTER: The ALTER statement is used to modify the structure of an existing database object. It allows you to add, modify, or
drop columns, constraints, or other properties of a table, view, or index. For example:'''

In [ ]:
#adds a new column named "salary" to the "employees" table
ALTER TABLE employees
ADD COLUMN salary DECIMAL(10,2);

In [ ]:
'''TRUNCATE: The TRUNCATE statement is used to remove all the data from a table while keeping the table structure intact. It is
a fast alternative to the DELETE statement when you want to remove all the records from a table. For example:'''

In [ ]:
# removes all the data from the "employees" table, leaving an empty table with the same structure
TRUNCATE TABLE employees;

Que.3 What is DML? Explain INSERT, UPDATE, and DELETE with an example.

In [ ]:
'''DML is an abbreviation of Data Manipulation Language. The DML commands in Structured Query Language change the data present
in the SQL database. We can easily access, store, modify, update and delete the existing records from the database using DML 
commands.'''

In [ ]:
'''INSERT DML Command
INSERT is most important data manipulation command in Structured Query Language, which allows users to insert data in database
tables.'''

In [ ]:
#insert data in TABLE_NAME 
INSERT INTO TABLE_NAME ()  VALUES ();

In [ ]:
'''UPDATE is another most important data manipulation command in Structured Query Language, which allows users to update or
modify the existing data in database tables.'''

In [ ]:
#update data/modify the data in TABLE_NAME
UPDATE TABLE_NAME SET [] WHERE CONDITION;

In [ ]:
'''DELETE is a DML command which allows SQL users to remove single or multiple existing records from the database tables.
This command of Data Manipulation Language does not delete the stored data permanently from the database. We use the WHERE 
clause with the DELETE command to select specific rows from the table.

In [ ]:
#delete from TABLE_NAME data
DELETE FROM TABLE_NAME WHERE condition;

Que.4 What is DQL? Explain SELECT with an example.

In [ ]:
'''DQL is a portion of a SQL statement that allows you to get and organise data from a database. You can use the SELECT command
to extract data from a database in order to perform actions on it.

In [ ]:
SELECT (column-list)FROM(TABLE_NAME);

In [ ]:
'''Table-name is the name of the table from which the information is retrieved.
Column-list includes one or more columns from which data is retrieved.'''

Que.5 Explain Primary Key and Foreign Key.

In [ ]:
'''Keys are one of the most important elements in a relational database to maintain the relationship between the tables and it
also helps in uniquely identifying the data from a table. The primary Key is a key that helps in uniquely identifying the 
tuple of the database whereas the Foreign Key is a key that is used to identify the relationship between the tables through
the primary key of one table that is the primary key one table acts as a foreign key to another table.
A primary key is used to ensure that data in the specific column is unique. A column cannot have NULL values. It is either 
an existing table column or a column that is specifically generated by the database according to a defined sequence. 
What is Foreign Key?
A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables.
It is a column (or columns) that references a column (most often the primary key) of another table.'''

Que.6 Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
'''To connect MySQL to Python, you can use the mysql-connector-python library. Here's an example code that shows
connection and provides an explanation of the cursor() and execute() methods:

In [ ]:
import mysql.connector

mydb =mysql.connector.connect(host='localhost',user = 'yourusername',password='yourpassword',database='yourdatabase')

#Creating a cursor object
cursor = mydb.cursor()

#Using the cursor to execute SQL queries
cursor.execute("SELECT * FROM Table")

#Fetching data from the executed query
result = cursor.fetchall()

#Displaying the fetched data
for row in result:
    print(row)
    
#Closing the cursor and the connection
cursor.close()
mydb.close()

Que.7 Give the order of execution of SQL clauses in an SQL query.

In [ ]:
'''The order of execution of SQL clauses in an SQL query is as follows:

FROM: Specifies the table(s) from which to retrieve the data.
WHERE: Filters the rows based on the specified conditions.
GROUP BY: Groups the rows based on one or more columns.
HAVING: Filters the grouped rows based on the specified conditions.
SELECT: Specifies the columns to retrieve from the table.
DISTINCT: Removes duplicate rows from the result set.
ORDER BY: Sorts the result set based on one or more columns.
LIMIT: Limits the number of rows returned by the query.

The presence and order of execution of clauses depend on the specific requirements of the query. Additionally, some
clauses like JOIN, GROUP BY, and HAVING may not be used in every query, depending on the nature of the data and 
the desired output.'''