Que.1 Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

data = [4,8,15,16,23,42]

series = pd.Series(data)

print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Que.2 Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [3]:
import pandas as pd
list = [1,2.1,3,4,5,6,7.8,8,9,10.1]

series = pd.Series(list)

print(series)

0     1.0
1     2.1
2     3.0
3     4.0
4     5.0
5     6.0
6     7.8
7     8.0
8     9.0
9    10.1
dtype: float64

Que.3 Create a Pandas DataFrame that contains the following data:
Then, print the DataFrame.

In [ ]:
Name
Alice
Bob
Claire

Age
25
30
27

Gender
Female
Male
Female

In [6]:
import pandas as pd
data_frame = {"Name":["Alice","Bob","Claire"], "Age":[25,30,27], "Gender":["Female","Male","Female"]}

df = pd.DataFrame(data_frame)

print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Que.4 What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [ ]:
'''In pandas, a DataFrame is a two-dimensional labeled data structure that can store and manipulate data in tabular form,
similar to a spreadsheet or a SQL table. It consists of rows and columns, where each column can contain different data types 
(e.g., integers, floats, strings) and is identified by a unique label.

On the other hand, a Series is a one-dimensional labeled array that can hold data of any type. It is similar to a column in 
a DataFrame or a single column of data in a spreadsheet. Each element in a Series is assigned an index label that can be used
to access the data.

In [8]:
import pandas as pd

# Creating a DataFrame
data = {
    'Name': ['John', 'Emma', 'Alice'],
    'Age': [25, 28, 22],
    'Country': ['USA', 'Canada', 'UK']
}

df = pd.DataFrame(data)
print(df)

    Name  Age Country
0   John   25     USA
1   Emma   28  Canada
2  Alice   22      UK

In [2]:
import pandas as pd
# Creating a Series
ages = pd.Series([25, 28, 22])
print(ages)

0    25
1    28
2    22
dtype: int64

In [ ]:
'''that's are example of DataFrame and series accordingly.'''

Que.5 What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

In [ ]:
'''Pandas provides a wide range of functions and methods to manipulate data in a DataFrame. Here are some common functions
you can use:

1) head() and tail(): These functions allow you to retrieve the first or last few rows of a DataFrame, respectively. They are
often used to quickly inspect the data.
# Example: Retrieving the first five rows of a DataFrame
df.head()

2) info(): This function provides a summary of the DataFrame, including the column names, data types, and memory usage. It is 
useful for understanding the structure of the DataFrame.

3) describe(): This function generates descriptive statistics for numeric columns in the DataFrame, such as count, mean, 
standard deviation, minimum, maximum, and quartile values.

4) shape: This attribute returns the dimensions (rows, columns) of the DataFrame.

5) loc[] and iloc[]: These indexers allow you to access specific rows or columns in the DataFrame by label-based or integer
-based indexing, respectively.

6) drop(): This function allows you to remove rows or columns from the DataFrame based on specified labels.
groupby(): This function is used for grouping the DataFrame based on one or more columns, allowing you to perform aggregate
operations on the grouped data.

7) sort_values(): This function sorts the DataFrame by one or more columns, either in ascending or descending order.

Que.6 Which of the following is mutable in nature Series, DataFrame, Panel?

In [ ]:
'''n the pandas library, the mutability of objects depends on whether they are intended to be modified after creation.

Series: A pandas Series is mutable, meaning you can modify its values after creation. You can change specific values in 
a Series or add/remove values.

DataFrame: A pandas DataFrame is also mutable. You can modify its contents, including adding or removing columns, updating
values, or performing various operations on the data.

Panel: In pandas, the Panel object has been deprecated since version 0.20. Panels were used to represent 3D data structures, 
but they have been replaced with the more flexible MultiIndexing approach. As of the latest version of pandas, the Panel object
is not available, and MultiIndexing is preferred for working with higher-dimensional data.

In summary, both Series and DataFrame objects are mutable, while the Panel object is deprecated and no longer part of the
pandas library.

Que.7 Create a DataFrame using multiple Series. Explain with an example.

In [10]:
import pandas as pd

#Create a first series
series1 = pd.Series([2,3,5,7], name="Quantity")

#Create a second series
series2 = pd.Series(['Apple','Banana','Guava','Custard Apple'],name= 'Fruits')

#Create a third series
series3 = pd.Series(['A','Na','A','Na'],name = 'Shop')

#Combine the series into a dataframe
df = pd.DataFrame([series1,series2,series3])

# Transpose the DataFrame (optional, to have Series as columns)
df = df.T

#print a dataframe
print(df)

  Quantity         Fruits Shop
0        2          Apple    A
1        3         Banana   Na
2        5          Guava    A
3        7  Custard Apple   Na

In [ ]:
'''In this example, we create three Series objects (series1, series2, and series3) representing different columns of data. 
We then combine these Series into a DataFrame using pd.DataFrame([series1, series2, series3]). Finally, we transpose the
DataFrame using .T to have the Series as columns instead of rows.

The resulting DataFrame contains three columns labeled 'A', 'B', and 'C', each corresponding to the data from the respective
Series. The index values (0 to 4) are automatically generated by pandas.'''