In [ ]:
#que.1 create one variable containing following type of data.

In [1]:
#string

s = ('Hello world')

type(s)

str

In [2]:
#float

f = 34.45

type(f)

float

In [3]:
#list

l = [1,2,3,4,'hea',3+5j,6,True]

type(l)

list

In [4]:
#tuple

t = (1,2,3,4,'hea',3+5j,6,True)

type(t)

tuple

In [ ]:
#que.2 given are some following variables containing data,what will be the data type of given variables

In [5]:
var1 = ""

type(var1)

str

In [6]:
var2 = '[ds,ml,python]'

type(var2)

str

In [7]:
var3 = ['ds','ml','python']

type(var3)

list

In [8]:
var4 = 1.

type(var4)

float

In [ ]:
#que.3 explain the use of the following operators using an example.

In [ ]:
/    #division operator,what we get after division

In [11]:
10/2

5.0

In [ ]:
%     #modulus operator,whatever left in reminder

In [3]:
1%2

1

In [ ]:
//   #division with two floor,whatever get.

In [10]:
25//4

6

In [ ]:
**  #exponant operator

In [12]:
2**4

16

In [ ]:
#que.4 create a list of length 10 of your choice containing multiple types of data.using for 
loop print the elements and its data type.

In [15]:
l = [1,2,3,4,5,False,True,3+4j,'hea',2.3]

for i in l :
    print(i)
    print(type(i))

1
<class 'int'>
2
<class 'int'>
3
<class 'int'>
4
<class 'int'>
5
<class 'int'>
False
<class 'bool'>
True
<class 'bool'>
(3+4j)
<class 'complex'>
hea
<class 'str'>
2.3
<class 'float'>

In [ ]:
#que.5 using a while loop,verify if the number A is purely divisible by number B and if so how many
times it can be divisible.

In [ ]:
A = 3
B = 3
while A % B == 0:
    print('A is divisible by B')

In [ ]:
#que.6 create a list containing 25 int type data.using for loop and if-else condition print if the
element is divisible by 3 or not.

In [33]:
l = list(range(25))
for i in l :
    if i % 3 == 0 :
        print('The number is divisble by 3')
else :
    print('The number is not divisible by 3')

The number is divisble by 3
The number is divisble by 3
The number is divisble by 3
The number is divisble by 3
The number is divisble by 3
The number is divisble by 3
The number is divisble by 3
The number is divisble by 3
The number is divisble by 3
The number is not divisible by 3

In [ ]:
#que.7 what do u understand about mutable & immutable datatypes and give it with examples.

In [14]:
m = 'Hello Everyone'

m[0]

'H'

In [17]:
m[0] = w    #in string we cant change data at particular index.so here string is immutable object.

NameError: name 'w' is not defined

In [2]:
m[4]

'o'

In [3]:
m[-2]

'n'

In [4]:
l = [2,3,4,True,False,4+5j,12.2,'switch']

l[4]

False

In [5]:
l[-6]

4

In [ ]:
#in which data type we can replace data by using index position is called mutable thats possible in list,while we can't change 
data in string by using index so its called immutable, so here string is immutable while list is mutable.

In [9]:
l[1] = True    #like here we repace the data from index 1

In [10]:
l

[2, True, 4, True, False, (4+5j), 12.2, 'switch']